@model BarterWebsite.Models.Need

@{
    ViewBag.Title = "GoodsAndServicesYouNeed";
}

<h2>Good or Service You Need</h2>
<br />

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        @Html.HiddenFor(model => model.Id)



        <div class="editor-label">
            @Html.LabelFor(model => model.Category)
        </div>
        <div class="editor-label">
            @foreach (var c in ViewBag.Categories)
            {
            <input type="radio" name="category" value="@c.Category1" style="width:40px;">@c.Category1<br>
            }
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>


        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Home", "Index", "Home" )

 
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
